<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Task Solving</title>{% endblock %}
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% block sidebar %}
        <ul class="nav-bar">
            <li class="leftButtons"><a href="{% url 'index' %}">Home</a></li>
            <li class="leftButtons"><a href="{% url 'users' %}">All users</a></li>
            <li class="leftButtons"><a href="{% url 'tasks' %}">All tasks</a></li>
            {% if user.is_authenticated %}
                <li class="leftButtons"><a href="{% url 'solutions' %}">My solutions</a></li>
                <li class="leftButtons"><a href="{% url 'submitTask' %}">Suggest a task</a></li>
            <!-- <li><a href="{% url 'submitSolution' %}">Submit solution</a></li> -->
                <li class="loginbuttons">User: {{ request.user.get_username }}</li>
                <li class="loginbuttons"><a href="{% url 'accounts:logout' %}?next={{request.path}}">Logout</a></li>   
            {% else %}
                <li class="loginbuttons"><a href="{% url 'accounts:login' %}?next={{request.path}}">
                Login
                <li class="loginbuttons"><a href="{% url 'accounts:signup' %}?next={{request.path}}">Sign Up</a></li>   
            {% endif %} </li>
        </ul>
    {% endblock %}
    {% block content %}{% endblock %}
</body>
</html>