{% extends 'base_generic.html' %}

{% block content %}
  <h3>Edit your tests:</h3>
  <form id="submitTaskForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}

    {% for form in formset %}  
      <div class='formset'>
            <p>
              {{form}}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>    
      </div>
    {% endfor %}

    <button type="submit">Submit</button>
    <a href="{{ task.get_absolute_url }}" class="backButton" >Back</a>
  </form>

{% endblock %}