{% extends 'base_generic.html' %}

{% block content %}
  <h3>Edit your task:</h3>
  <form id="submitTaskForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}

    <button type="submit">Submit</button>
    <a href="{{ task.get_absolute_url }}" class="backButton" >Back</a>
  </form>

{% endblock %}